<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0"/>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<appSettings>
		<add key="Exec" value="C:\Program Files\Unitys\2020.3.35f1\Editor\Unity.exe" />
		<add key="Steam" value="" />
		<add key="SteamPath" value="" />
		<add key="SharedFile" value="D:\FAC\Programing\Projects\UniversalDeepLinking\src\unity\UniversalDeepLink\Assets\Plugins\ImaginationOverflow\UniversalDeepLinking\libs\Standalone\udlsharedfile.dat" />
	</appSettings>
</configuration>